<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Welcome to my website</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <style>
        body {
            padding-top: 70px;
        }
    </style>
    @RenderSection("styles", false)
</head>
<body>


    @Html.Partial("_NavigationPartial")


    <div class="container" style="min-height:calc(100vh - 140px)">
        @RenderBody()
    </div>
    <footer class="container">
        &copy;@DateTime.Now.Date.Year |   Md Arif Hasan Shuvo
    </footer>
    @RenderSection("scripts", false)
</body>
</html>